.main-footer{
    top: 300px;
}

section{
    display: flex;
    width: 100vw;
    align-content: space-around;
    padding: 0px 100px;
}

#card{
    grid-template-columns: 1fr 1fr;
    background-color: #393838;
    display: flex;
    width: 50vw;
    height: 400px;
    border: 0.5px solid white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

main{
    margin-top: 150px;
}
 


/* ESTILOS DE LA CLASE .titulo-seccion */
.titulo-seccion {
    font-family: var(--font-heading);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 100px; 
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}


#title{
    font-size: 1.5rem;
}
#content{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 400;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
p{
    display: flex;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background: #0077ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


dialog {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  background: white;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#abrirDialogo:checked + label + dialog {
  display: block;
}